
.root {
    -fx-padding: 0;
    /*-fx-background-color: #1f2333;*/
    -fx-background-color: #1f2833;
}
.text-field {
    /*-fx-start-margin: 10px;*/
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    -fx-padding: 10px 5px;
    -fx-border-color: #00a693;
    -fx-border-style: solid;
    -fx-border-width: 4px;
    /*outline: none;*/
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-background-color: Transparent;
    -fx-text-fill: #008f95;
    -fx-font-family: sans-serif;
    -fx-prompt-text-fill: #008f95;
}
.choice-box {
    -fx-background-color: #00a693;
    -fx-background-radius: 24px;
    -fx-cursor: hand;
}
.choice-box .label {
    -fx-background-color: Transparent;
    -fx-text-fill: #1f2833;
    -fx-font-family: sans-serif;
    -fx-alignment: center-left;
}
.choice-box .context-menu {
    -fx-cursor: hand;
    -fx-background-color: #00a693;
}
.label {
    -fx-background-color: Transparent;
    -fx-text-fill: #008f95;
    -fx-font-family: sans-serif;
    -fx-alignment: center-left;
}
.grid-pane-text-highlight{
    -fx-fill: #00a693;
    -fx-font-weight: bold;
}
.grid-pane-text{
    -fx-fill: #008f95;
}

.grid-pane-label{
    -fx-background-color: #19212b;
    -fx-background-radius: 24px;
    -fx-font-size: 25px;
    -fx-padding: 0 0 5 0;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.button {
    -fx-border-color: #00a693;
    -fx-border-style: solid;
    -fx-border-width: 4px;
    -fx-border-radius: 24px;
    -fx-background-radius: 24px;
    /*-fx-margin: 10px;*/
    -fx-padding: 7px 10px;
    -fx-background-color: #1f2833;
    -fx-text-fill: #00a693;
    /*transition: 0.25s;*/
    -fx-cursor: hand;
    /*-fx-font-weight: bold;*/
}
.button:hover {
    -fx-background-color: #00a693;
    -fx-text-fill: #1f2833;
}
.b{
    -fx-text-fill: #00a693;
    -fx-font-weight: bold;
}